{% extends "bootstrap/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="span16">
		{% if form.non_field_errors %}
			<div class="alert-message error">
      	<p><strong>Error:</strong>&nbsp; {% for err in form.non_field_errors %}{{ err }}{% endfor %}</p>
			</div>
		{% endif %}
		<form method="post" action=".">{% csrf_token %}
			{% for item in form %}
				{% include 'bootstrap/form_field.html' %}
			{% endfor %}
	</div>
</div>
<div class="row">
	<div class="span16">
		<div class="well align_button">
		  <input type="submit" class="btn primary" value="{% trans 'Log in' %}" />
		  <input type="hidden" name="next" value="{% url bootstrap.views.inside %}" />
			</form>
    	<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a></p>
		</div>
	</div>
</div>
{% endblock %}
